@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e6a733;
}
canvas{
    position: absolute;
    max-width: 80vw;
    height: 100vh;
    z-index: 0;
}
h1{
    font-size: 2em;
    font-weight: 700;
}
img{
    width: 250px;
}

#result{
    font-weight: 700;
    min-height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#result span{
    font-size: 4em;
}

.ocult{
    display: none; 
}

#input{
    display: flex;
    gap: 2em;
}

input{
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 14px;
    height: 60px;
    width: 200px;
    padding-left: 20px;
    font-weight: 700;
    font-size: 2em;
    color: #0c0c0c;
    opacity: 0.7;
    margin-top: 10px;
}

button{
    background: #004b3b;
    box-shadow: 0px 18px 40px rgba(174, 195, 70, 0.35);
    border-radius: 10px;
    width: 280px;
    height: 60px;
    color: #ffffff;
    font-weight: 700;
    font-size: 2em;
    margin-top: 80px;
    border: none;
    cursor: pointer;
    margin: 10px auto;
    z-index: 1;
}

#new {
    margin: 0;
    font-size: 1em;
    width: 150px;
    height: 35px;
}


button:hover{
    opacity: 0.9;
}

button:active{
    opacity:0.8;
}

.rodape{
    position: absolute;
    bottom: 5px;
    text-align: center;
}

.rodape a {
    text-decoration: none;
    color: #000000;
    font-weight: 700;
}